body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('water.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: makes background stay on scroll */
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* centers vertically */
}

.fish {
    width: 500px; /* optional: resize the gif if needed */
  }